# --------------------------------------------------
# Build
# --------------------------------------------------

**/[Bb]in/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
artifacts/

# --------------------------------------------------
# Visual Studio
# --------------------------------------------------

.vs/
**/.vs/

*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# --------------------------------------------------
# Rider
# --------------------------------------------------

.idea/
*.sln.iml

# --------------------------------------------------
# VSCode
# --------------------------------------------------

.vscode/

# --------------------------------------------------
# .NET
# --------------------------------------------------

*.dll
*.exe
*.pdb
*.cache

*.deps.json
*.runtimeconfig.json

# NuGet
packages/
*.nupkg

# --------------------------------------------------
# Godot
# --------------------------------------------------

**/.godot/
**/.import/
**/.mono/

*.translation
export.cfg
export_presets.cfg
mono_crash.*.json

# C# generated
*.csproj.user

# --------------------------------------------------
# DevOps
# --------------------------------------------------

src/Builds/

# --------------------------------------------------
# External addons
# --------------------------------------------------

src/*/addons/func_godot/
src/*/addons/script-ide/
src/*/addons/nexus_vertex_painter/

# --------------------------------------------------
# License files
# --------------------------------------------------

*.lic