# Build
**/bin/
**/obj/
**/build/
**/builds/

# Visual Studio
**/.vs/

# VSCode
**/.vscode/

# Godot
**/.godot/
**/.import/
**/.mono/

*.translation
export.cfg
export_presets.cfg
mono_crash.*.json

# Binaries
*.dll
*.pdb
*.cache

# Devops
src/Builds/

# External addons
src/*/addons/func_godot/
src/*/addons/script-ide/
src/*/addons/nexus_vertex_painter/